* {
    background-image: url("bub1.png");
}

.head {
    text-align: center;
}

h1 {
    font-size: 130px;
    font-weight: 900;
}

p {
    font-size: 70px;
    font-weight: 400;
    padding: 30px;
    background: white;
}

.typeBox {
    text-align: center;
    height: 400px;
    background: aliceblue;
    
}

.sL {
    font-size: 40px;
    font-weight: 100;
    background: aliceblue;
    padding: 20px;
}

.rank   {
    background: aliceblue;
    height: 400px;
    padding-top: 60px;
}

