* {
    background-image: url("bub1.png");
}

.head {
    text-align: center;
}

h1 {
    font-size: 100px;
    font-weight: 900;
}

p {
    font-size: 50px;
    font-weight: 400;
}

.typeBox {
    text-align: center;
    height: 400px;
    background: aliceblue;
    
}

.sL {
    font-size: 30px;
    font-weight: 100;
    background: aliceblue;
    padding: 20px;
}

